h1 {
  color: white;
  background-color: black;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
  padding: 10px;
  margin: 0;
}

p {
  color: white;
  font-family: 'Inconsolata', monospace, serif;
  font-weight: lighter;
  font-size: 1.2em;
}

body {
  background-color: teal;
}

.text {
  background-color: black;
  padding: 10px;
  margin: 0;
}

.email {
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 10px;
}

.nav {
  margin: 0 auto;
  width: 95%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
}

.nav li {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.nav li:last-of-type a{
  border-bottom: none;
}

.nav a {
  display: block;
  color: black;
  background-color: white;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'VT323', monospace;
}

.nav a:hover {
  background-color: gray;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-flow: column;
}

.footer {
  color: black;
  background-color: white;
  font-family: sans-serif;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid black;
  margin: 0 auto;
  width: 95%;
}

img {
  border: none;
  width: 50%;
}

@media (min-width:800px) {

  .nav {
    flex-flow: row;
  }

  .nav li {
    border-right: 1px solid black;
  }

  .wrapper {
    flex-flow: row wrap;
  }

  .email {
    flex: 1 auto;
  }

  h1 {
    flex: 1 auto;
  }

  a {
    flex: 3;
  }


}
