h1 {
  color: white;
  background-color: black;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
}

p {
  color: white;
  font-family: 'Inconsolata', monospace, serif;
  font-weight: lighter;
  font-size: 1.2em;
}

body {
  background-color: teal;
}

#email {
  text-align: center;
  font-size: 1.7em;
}

#container {
  width: 95%;
  margin: 0 auto;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  float: left;
  margin: 0;
  padding: 0;
  width: 24.93%;
  border-right: 1px solid black;
}

#nav a:link, #nav a:visited {
  display: block;
  color: black;
  background-color: white;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'VT323', monospace;
}

#nav a:hover, #nav a:active {
  background-color: gray;
}

#footer {
  color: black;
  background-color: white;
  font-family: sans-serif;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid black;
}

img {
  border: none;
}
